/* Variables CSS pour une personnalisation facile */
:root {
  --primary-color: #1e90f9;
  --secondary-color: #1d83e2;
  --hover-color: #2186e6;
  --text-color: white;
  --border-color: rgba(255, 255, 255, 0.3);
  --shadow-color: rgba(255, 255, 255, 0.6);
  --bg-dark: #0a3d62;
}

/* Réinitialisation des marges et bordures */
* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  border: none;
  box-sizing: border-box;
}

/* Style général */
body {
  margin-top: 40px;
  background: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

/* Interface du jeu */
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  margin-top: 50px;
}

/* Grille du jeu */
.container {
  display: grid;
  grid-template-columns: repeat(10, 70px);
  grid-template-rows: repeat(10, 70px);
  border-radius: 5px;
  box-shadow: 0px 0px 10px var(--hover-color);
}

/* Bouton Restart */
.reset-btn {
  padding: 15px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  background: var(--secondary-color);
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.reset-btn:hover {
  background: var(--hover-color);
  transform: scale(1.1);
}

/* Style des cellules */
.cell {
  border: 1px solid var(--border-color);
  transition: transform 0.1s ease-in-out, box-shadow 0.3s ease;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
}

.cell:hover {
  transform: scale(1.018);
  box-shadow: 0px 0px 5px var(--shadow-color);
}

/* Apparence des Snowmen et Player */
.player { background-image: url('assets/player.png'); }
.littleSnowman { background-image: url('assets/small.png'); }
.mediumSnowman { background-image: url('assets/medium.png'); }
.bigSnowman { background-image: url('assets/big.png'); }
.mediumAndBigSnowman { background-image: url('assets/mediumBig.png'); }
.littleAndBigSnowman { background-image: url('assets/smallBig.png'); }
.littleAndMediumSnowman { background-image: url('assets/smallMedium.png'); }
.finalSnowman { background-image: url('assets/snowman.png'); }

/* Animation de neige */
@keyframes snowfall {
  from { transform: translateY(-85vh); }
  to { transform: translateY(10vh); }
}

.snowflakes {
  position: absolute;
  pointer-events: none;
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: ghostwhite;
  opacity: 0.7;
  border-radius: 50%;
  animation: snowfall linear infinite;
  /* z-index: -1; */
}
